.saved-list-t{
    background-color: #8dcff8;
    font-size: 17px;
    transition: all 1s ease;
    width: 100%;
}

.saved-list-t:hover{
    background-color: #b7e3fa;
}

.card-saved-wrapper{
    min-width: 400px;
    width: fit-content;
    margin : 0px 2px 50px 2px 
}