.shared-panel-content{
    padding: 20px;
}

#container {
    width: 100px;
    height: 100px;
    position: relative;
  }
  #navi{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

#container:hover .hidden{
    right: 0px;
    z-index: 10;
}

#container .hidden {
    width: 400px;
    height: 650px;
    position: absolute;
    margin-left: 100%;
    top: 0px;
    right: -400px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

#container .hidden2 {
    width: 1523px;
    height: 650px;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.86);
    -webkit-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

.template-suggestion-wrap{
    color : white;
    height: 100%;
    padding-top: 50px;
}

.import-template-button{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border : none;
}

.import-template-button:focus {
    outline: none;
    box-shadow: none;
  }
