.history-item{
    display: flex;
    margin-left : 10%;
    margin-right : 10%;
    margin-bottom : 5px;
    font-size: 17px;
    background-color: white;
}

.item-name{
    text-align: left;
    width: 100%;
}

.item-count{
    width: 10%;
}
