.ant-space .ant-space-vertical{
    background: white;
    border-radius: 20px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px; /* do zmiany jak sie bedzie ustawialo  */
}

.item-info{
    text-align: center;
    font-size: 17px;
}

.item-count-add{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30%;
}